name: Deploy React UI to CentOS

on:
  push:
    branches:
      - s1-nk

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Copy build files to CentOS server
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "build/*"
          target: "/var/www/html/spectra_ui/"
          strip_components: 0
          host_fingerprint_verification: false

      - name: Restart PM2
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          host_fingerprint_verification: false
          script: |
            pm2 delete spectra_ui || true
            pm2 serve /var/www/html/spectra_ui 3000 --spa --name spectra_ui
            pm2 save
